// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';




body{
  background-image: url(../img/universo-espacio-interestelar_1920x1080_xtrafondos.com.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: bold;
}
h1{
  position: relative;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}
nav{
  position: relative;
}